@model CBM_SART.Models.iso_departamento

@{
    ViewBag.Title = "Eliminar Departamento";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-window" style="height:32px">
    Permite eliminar el Departamento selecionado.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <div class="form-group">

        <h4>
            <span class="label label-danger">
                Estas seguro de eliminar este Departamento?
            </span>
        </h4>

    </div>
</div>

<form>
    <div class="modal-body">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ide_id_empresa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("ide_id_empresa", String.Empty)*@
                    @*@Html.DropDownListFor(x => x.ide_id_empresa, (IEnumerable<SelectListItem>)ViewBag.ide_id_empresa, new { @class = "control-label", @disabled = "disabled" })*@
                    @Html.TextBoxFor(model => model.iso_empresa.iem_nombre_empresa, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_id_empresa)
                </div>
            </div>

                        <div class="form-group">
                @Html.LabelFor(model => model.ide_nombre_departamento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.ide_nombre_departamento)*@
                    @Html.TextBoxFor(m => m.ide_nombre_departamento, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_nombre_departamento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ide_descripcion_departamento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ide_descripcion_departamento, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_descripcion_departamento)
                </div>
            </div>


        </div>
    </div>
</form>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Si" />
    </div>

}