@model CBM_SART.Models.iso_departamento

@{
    //ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" seccion-barra" style="height:32px">
    Permite visualizar e imprimir los datos relacionados al Departamento.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <h4 class="modal-title">Información del Departamento</h4>
</div>

<form>
    <div class="modal-body">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ide_id_empresa, "ide_id_empresa", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("ide_id_empresa", String.Empty)*@
                    @Html.DropDownListFor(x => x.ide_id_empresa, (IEnumerable<SelectListItem>)ViewBag.ide_id_empresa, new { @class = "control-label", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_id_empresa)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ide_nombre_departamento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.ide_nombre_departamento)*@
                    @Html.TextBoxFor(m => m.ide_nombre_departamento, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_nombre_departamento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ide_descripcion_departamento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ide_descripcion_departamento, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_descripcion_departamento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ide_cod_documento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ide_cod_documento, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_cod_documento)
                </div>
            </div>


            @*<div class="form-group">
                    @Html.LabelFor(model => model.ide_id_departamento_padre, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ide_id_departamento_padre)
                        @Html.ValidationMessageFor(model => model.ide_id_departamento_padre)
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ide_deshabilitar, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ide_deshabilitar, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ide_deshabilitar)
                </div>
            </div>


            <div class="modal-footer">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="/images/wait.gif" alt="wiat" />
                    Espere...
                </span>
                @*<input class="btn btn-primary" type="submit" value="Save" />*@
                @*<button class="btn btn-primary" type="submit" name="Guardar"> Guardar </button>*@
                <button class="btn btn-primary" data-dismiss="modal">Imprimir</button>
                <button class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</form>