@*@model IEnumerable<CBM_SART.Models.iso_departamento>*@

@model CBM_SART.Models.PagedList<CBM_SART.Models.iso_departamento>

@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "Admin";
    Session["SidebarSelect"] = "Departamento";
}

<div class="seccion-barra">
    <img src="~/images/seo-icons/seo-goals-icon.png" height="24" width="24" />
    Informacion de los Departamentos registrados.
    <span class="text-count">Nro. de  Departamentos : @ViewBag.total</span>
</div>

<div class="content">
    @using (Html.BeginForm("index", null, FormMethod.Get))
    {
        <div class="search">
            <div class="col-md-10">
                <div class="input-group">

                    <input type="text"
                           name="filter"
                           value="@ViewBag.filter"
                           class="form-control"
                           style="display: inline; height:30px"
                           placeholder="Buscar por Nombre del Dapartamento" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="submit">Buscar</button>
                    </span>

                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a class="btn btn-success" data-modal="" href="/Departamento/Create" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nuevo
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="col-md-12 grid-content">
            @{
        var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                      tableStyle: "table table-bordered table-hover table-responsive table-condensed",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
              grid.Column("ide_nombre_departamento", "Nombre", style: "col-lg-3"),
              grid.Column("ide_descripcion_departamento", "Descripción", style: "col-lg-4"),
              grid.Column("ide_deshabilitar", "Habilitado", style: "col-lg-1"),
              grid.Column("ide_cod_documento", "Código Doc.", style: "col-lg-1"),
              grid.Column("iso_empresa.iem_nombre_empresa", "Empresa", style: "col-lg-2"),
              grid.Column(header: "Acción", canSort: false, style: "action",
                     format: @<text>
                @Html.Raw("<a data-modal='' href='/Departamento/details/" + item.ide_id_departamento + "' id='" + item.ide_id_departamento + "' title='Detalles'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Departamento/edit/" + item.ide_id_departamento + "' id='" + item.ide_id_departamento + "' title='Editar'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Departamento/delete/" + item.ide_id_departamento + "' id='" + item.ide_id_departamento + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                    </text>)

                                                                                                                      ));
            }


        </div>
        <div class="clear"></div>
    }
</div>

<div id='myModal' class='modal fade in' tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/scripts/appjs/phones.js")

}