<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SART</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("SART", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <a href="/" class="icon-home">
                    <img src="/images/home-icon.png">
                    Inicio
                </a>
            </div>

            <div class="navbar-collapse collapse navbar-right ">
                <ul class="nav navbar-nav">

                    @*Administracion*@
                    @{
                        CBM_SART.Models.iso_usuario Usuario = (CBM_SART.Models.iso_usuario)HttpContext.Current.Session["Usuario"];
                        if (Usuario != null && Usuario.ius_tipo_usuario == "Administrador")
                        { 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle boton-barra" data-toggle="dropdown"><img class="boton-barra-imagen" src="~/images/admin.png" />Administración<b class="caret"></b></a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Empresa")"><img class="boton-barra-imagen" src="@Url.Content("~/images/empresa.png")" />Empresas</a></li>
                                <li><a href="@Url.Action("Index", "Departamento")"><img class="boton-barra-imagen" src="@Url.Content("~/images/departamento.png")" />Departamentos</a></li>
                                <li><a href="@Url.Action("Index", "Usuario")"><img class="boton-barra-imagen" src="@Url.Content("~/images/user.png")" />Administración de Usuarios</a></li>
                                <li><a href="@Url.Action("Index", "PermisoVigilacia")"><img class=" boton-barra-imagen" src="@Url.Content("~/images/permisomodulo.png")" />Permisos Vigilancia de Salud</a></li>
                                <li><a href="#"><img class="boton-barra-imagen" src="@Url.Content("~/images/config.png")" />Configuraciones</a></li>

                            </ul>
                        </li>    
                        }
                    }
                    

                    <li class="boton-barra"><a href="\SistemaGestion"> <img class="boton-barra-imagen" src="~/images/gestion.png" /> Sistema de Gestión</a></li>
                    <li class="dropdown boton-barra">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="boton-barra-imagen" src="~/images/vigilacia.png" /> Vigilancia de la Salud <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Personal")"><img class="boton-barra-imagen" src="@Url.Content("~/images/personal.png")" />Personal</a></li>
                            <li><a href="@Url.Action("Index", "Cargo")"><img class="boton-barra-imagen" src="@Url.Content("~/images/puestot.png")" />Cargos</a></li>
                            <li><a href="@Url.Action("Index", "PuestoTrabajo")"><img class="boton-barra-imagen" src="@Url.Content("~/images/puesto_t.png")" />Puestos de Trabajo</a></li>
                            <li><a href="@Url.Action("Index", "HistoriaClinica/Panel")"><img class="boton-barra-imagen" src="@Url.Content("~/images/hclinica.png")" />Histórias Clinicas</a></li>
                            <li><a href="@Url.Action("Index", "MatrizMRL")"><img class="boton-barra-imagen" src="@Url.Content("~/images/riesgos.png")" />Identificacion de Riesgos</a></li>
                            <li><a href="@Url.Action("Index", "Profesiograma")"><img class="boton-barra-imagen" src="@Url.Content("~/images/profesiograma.png")" />Profesiogramas</a></li>
                            <li><a href="@Url.Action("Index", "Incidente")"><img class="boton-barra-imagen" src="@Url.Content("~/images/incidente.png")" />Incidentes</a></li>
                            <li><a href="@Url.Action("Index", "Accidente")"><img class="boton-barra-imagen" src="@Url.Content("~/images/accidentes.png")" />Accidentes</a></li>
                            <li><a href="#"><img class="boton-barra-imagen" src="@Url.Content("~/images/indicesr.png")" />Indices de Riesgo</a></li>
                            <li><a href="@Url.Action("Index", "EquipoTrabajo")"><img class="boton-barra-imagen" src="@Url.Content("~/images/equipot.png")" />Equipos de Trabajo</a></li>
                        </ul>
                    </li>


                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle boton-barra" data-toggle="dropdown"><img class="boton-barra-imagen" src="~/images/auditoria.png" />Auditoria <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Auditorias SART</li>
                            <li><a href="#"><img class="boton-barra-imagen" src="@Url.Content("~/images/lvejecucion.png")" />Ejecución de Listas de Verificación</a></li>
                            <li><a href="#"><img class="boton-barra-imagen" src="@Url.Content("~/images/lvnueva.png")" />Creación/Modificación de Listas de Verificación</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">No Conformidad</li>
                            <li><a href="#">Acciones Correctivas</a></li>
                            <li><a href="#">Acciones Preventivas</a></li>
                            <li><a href="#">Poyectos de Mejora</a></li>
                        </ul>
                    </li>*@

                    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
                    @*<li>@Html.ActionLink("Empresa", "Index", "Empresa")</li>*@
                    <li><a href="\Plan" class="boton-barra"><img class="boton-barra-imagen" src="~/images/planes.png" />Planes y Programas</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="body-content">
        @if (Session["Sidebar"] != "")
{
    <div class="col-md-2">
        <div id="sidebar">
            @Html.Partial("_LoginPartial")



            @if (Session["Sidebar"] == "VigilaciaSalud")
            {
                if (Session["SidebarSelect"] == "listariesgos")
                {
                    <div class="sidebar-menus">
                        <ul class="list-panel-riesgos">
                            <li class="back"><a href="@Url.Action("Index", "MatrizMRL")"><img class="boton-panel-imagen" src="@Url.Content("~/images/back.png")" />Regresar</a></li>
                            <li class="@(Session["TipoR"].ToString().Trim() == "1" ? "select" : "")">@Html.ActionLink("Riesgo Mecánico:", "Riesgos", "MatrizMRL", new { tipoRiesgo = 1 }, new { @class = "r-mecanico" })<span class="badge">1</span></li>
                            <li class="@(Session["TipoR"].ToString().Trim() == "2" ? "select" : "")">@Html.ActionLink("Riesgo Físico:", "Riesgos", "MatrizMRL", new { tipoRiesgo = 2 }, new { @class = "r-fisico" })<span class="badge">2</span></li>
                            <li class="@(Session["TipoR"].ToString().Trim() == "3" ? "select" : "")">@Html.ActionLink("Riesgo Químico:", "Riesgos", "MatrizMRL", new { tipoRiesgo = 3 }, new { @class = "r-quimico" })<span class="badge">3</span></li>
                            <li class="@(Session["TipoR"].ToString().Trim() == "4" ? "select" : "")">@Html.ActionLink("Riesgo Biológico:", "Riesgos", "MatrizMRL", new { tipoRiesgo = 4 }, new { @class = "r-biologico" })<span class="badge">4</span></li>
                            <li class="@(Session["TipoR"].ToString().Trim() == "5" ? "select" : "")">@Html.ActionLink("Riesgo Ergonómico:", "Riesgos", "MatrizMRL", new { tipoRiesgo = 5 }, new { @class = "r-ergonomico" })<span class="badge">5</span></li>
                            <li class="@(Session["TipoR"].ToString().Trim() == "6" ? "select" : "")">@Html.ActionLink("Riesgo Psicosociales:", "Riesgos", "MatrizMRL", new { tipoRiesgo = 6 }, new { @class = "r-psicosociales" })<span class="badge">6</span></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="sidebar-menus">
                        <ul class="list-panel-modulos">
                            <li><a class="@(Session["SidebarSelect"] == "Personal" ? "select" : "")" href="@Url.Action("Index", "Personal")"><img class="boton-panel-imagen " src="@Url.Content("~/images/personal.png")" />Personal</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "Cargo" ? "select" : "")" href="@Url.Action("Index", "Cargo") "><img class=" boton-panel-imagen" src="@Url.Content("~/images/puestot.png")" />Cargos</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "Puesto" ? "select" : "")" href="@Url.Action("Index", "PuestoTrabajo") "><img class=" boton-panel-imagen" src="@Url.Content("~/images/puesto_t.png")" />Puestos de Trabajo</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "Historia" ? "select" : "")" href="@Url.Action("Index", "HistoriaClinica/Panel")"><img class="boton-panel-imagen" src="@Url.Content("~/images/hclinica.png")" />Historias Clinicas</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "riesgos" ? "select" : "")" href="@Url.Action("Index", "MatrizMRL")"><img class="boton-panel-imagen" src="@Url.Content("~/images/riesgos.png")" />Identificacion de Riesgos</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "profesiograma" ? "select" : "")" href="@Url.Action("Index", "Profesiograma")"><img class="boton-panel-imagen" src="@Url.Content("~/images/profesiograma.png")" />Profesiogramas</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "incidente" ? "select" : "")" href="@Url.Action("Index", "Incidente")"><img class="boton-panel-imagen" src="@Url.Content("~/images/incidente.png")" />Incidentes</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "accidente" ? "select" : "")" href="@Url.Action("Index", "Accidente")"><img class="boton-panel-imagen" src="@Url.Content("~/images/accidentes.png")" />Accidentes</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "indices" ? "select" : "")" href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/indicesr.png")" />Indices de Riesgo</a></li>
                            <li><a class="@(Session["SidebarSelect"] == "equipop" ? "select" : "")" href="@Url.Action("Index", "EquipoTrabajo")"><img class="boton-panel-imagen" src="@Url.Content("~/images/equipot.png")" />Equipos de Trabajo</a></li>
                        </ul>
                    </div>
                }
            }


            @if (Session["Sidebar"] == "Admin")
            {
                <div class="sidebar-menus">
                    <ul class="list-panel-modulos">
                        <li><a class="@(Session["SidebarSelect"] == "Empresa" ? "select" : "")" href="@Url.Action("Index", "Empresa")"><img class="boton-panel-imagen" src="@Url.Content("~/images/empresa.png")" />Empresas</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "Departamento" ? "select" : "")" href="@Url.Action("Index", "Departamento")"><img class="boton-panel-imagen" src="@Url.Content("~/images/departamento.png")" />Departamentos</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "Usuario" ? "select" : "")" href="@Url.Action("Index", "Usuario")"><img class="boton-panel-imagen" src="@Url.Content("~/images/user.png")" />Administración de Usuarios</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "PVigilancia" ? "select" : "")" href="@Url.Action("Index", "PermisoVigilacia")"><img class="boton-panel-imagen" src="@Url.Content("~/images/permisomodulo.png")" />Permisos Vigilancia de Salud</a></li>
                        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/config.png")" />Configuraciones</a></li>
                    </ul>
                </div>
            }
            @if (Session["Sidebar"] == "SistemaGestion")
            {
                <div class="sidebar-menus">
                    <ul class="list-panel-sg">
                        <li><a class="@(Session["SidebarSelect"] == "Inicio" ? "select" : "")" href="/SistemaGestion/"><img class="boton-panel-sg-p" src="@Url.Content("~/images/sg/inicio.png")" />PILARES DE LA GESTION SGP</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "pilar1" ? "select" : "")" href="/SistemaGestion/Nivel_1/1"><img class=" boton-panel-sg" src="@Url.Content("~/images/sg/item.png")" />GESTION ADMINISTRATIVA</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "pilar2" ? "select" : "")" href="/SistemaGestion/Nivel_1/2"><img class=" boton-panel-sg" src="@Url.Content("~/images/sg/item.png")" />GESTION TECNICA</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "pilar3" ? "select" : "")" href="/SistemaGestion/Nivel_1/3"><img class="boton-panel-sg" src="@Url.Content("~/images/sg/item.png")" />GESTION DEL TALENTO HUMANO</a></li>
                        <li><a class="@(Session["SidebarSelect"] == "pilar4" ? "select" : "")" href="/SistemaGestion/Nivel_1/4"><img class="boton-panel-sg" src="@Url.Content("~/images/sg/item.png")" />PROCEDIMIENTOS OPERATIVOS BASICO Y/O RELEVANTES</a></li>
                    </ul>
                </div>
            }
            @if (Session["Sidebar"] == "Planes")
            {
                if (Session["SidebarSelect"] == "Tareas")
                {
                    <div class="sidebar-menus">
                        <ul class="list-panel-modulos">
                            <li><a class="@(Session["SidebarSelect"] == "Empresa" ? "select" : "")" href="@Url.Action("Index", "Plan")"><img class="boton-panel-imagen" src="@Url.Content("~/images/back.png")" />Regresar</a></li>
                            <li>
                                <div class="col-md-12 label label-success t-Completo">Tareas Completas: <span class="badge">@Session["nt1"]</span></div>
                            </li>
                            <li>
                                <div class="col-md-12 label label-warning t-Pendiente">Tareas Pendientes: <span class="badge">@Session["nt2"]</span></div>
                            </li>
                            <li>
                                <div class="col-md-12 label label-danger t-Atrasado">Tareas Atrasados: <span class="badge">@Session["nt3"]</span></div>
                            </li>
                            <li>
                                <div class="col-md-12 label label-default">Tareas Sin Estado: <span class="badge">@Session["nt4"]</span></div>
                            </li>
                        </ul>
                    </div>
                }
            }

        </div>

            </div>

            <div class="col-md-10">
                <div id="content" class="well-sm">
                        @{
                        if (Session["ErroUser"] != null && Session["ErroUser"] != "")
                        {
                            <div class="alert alert-dismissible alert-danger">
                                <div id="ms-error">
                                    <div>@Session["ErroUser"]</div>
                                </div>
                            </div>
                        }
                        else if (Session["AvisoUser"] != null && Session["AvisoUser"] != "")
                        {
                            <div class="alert alert-dismissible alert-warning">
                                <div id="ms-error">
                                    <div>@Session["AvisoUser"]</div>
                                </div>
                            </div>
                        }
                        Session["ErroUser"] = null;
                        Session["AvisoUser"] = null;
}
                    

                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div id="content" class="well-sm">
                    @RenderBody()
                </div>
            </div>
        }

        <div class="clear"></div>

    </div>
    <footer>
        <p>
            &copy; @DateTime.Now.Year - SART
            <br />
            Desarrollado por: Marcelo Toapanta & Barbara Barragan
            <br />
            Quito - Ecuador
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


</body>
</html>
