@using Microsoft.AspNet.Identity
<div class="login-sidebar">
      
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {
            @Html.AntiForgeryToken()
    <div class="login-name">@Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })</div>  
    
    <ul class="txt-login">
        <li>
            <div class="img-login">
                <img height="100" width="100" src="~/images/user.gif" />
            </div>
        </li>
        @*<li>
            @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>*@
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>

    </ul>
        }
    }
    else
    {
    <div class="login-name">Nombre Usuario</div>  
        <ul class="txt-login">
            <li>
                <div class="img-login">
                    <img height="100" width="100" src="~/images/user.gif" />
                </div>
            </li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>
    }
</div>