@model CBM_SART.Models.iso_plan

@{
    ViewBag.Title = "Eliminar Plan";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>iso_plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ipl_tipo_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_tipo_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_nombre_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_nombre_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_descripcion_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_descripcion_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_fecha_creacion_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_fecha_creacion_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_creador_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_creador_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_tolerancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_tolerancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_codigo_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_codigo_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_id_plan_padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_id_plan_padre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_tipo_proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_tipo_proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_objetivo_estrategico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_objetivo_estrategico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipl_id_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipl_id_area)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
