@model CBM_SART.Models.iso_plan

@{
    ViewBag.Title = "Editar Plan";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>iso_plan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ipl_id_plan)

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_tipo_plan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_tipo_plan)
                @Html.ValidationMessageFor(model => model.ipl_tipo_plan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_nombre_plan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_nombre_plan)
                @Html.ValidationMessageFor(model => model.ipl_nombre_plan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_descripcion_plan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_descripcion_plan)
                @Html.ValidationMessageFor(model => model.ipl_descripcion_plan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_fecha_creacion_plan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_fecha_creacion_plan)
                @Html.ValidationMessageFor(model => model.ipl_fecha_creacion_plan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_creador_plan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_creador_plan)
                @Html.ValidationMessageFor(model => model.ipl_creador_plan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_tolerancia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_tolerancia)
                @Html.ValidationMessageFor(model => model.ipl_tolerancia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_responsable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_responsable)
                @Html.ValidationMessageFor(model => model.ipl_responsable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_codigo_plan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_codigo_plan)
                @Html.ValidationMessageFor(model => model.ipl_codigo_plan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_id_plan_padre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_id_plan_padre)
                @Html.ValidationMessageFor(model => model.ipl_id_plan_padre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_tipo_proyecto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_tipo_proyecto)
                @Html.ValidationMessageFor(model => model.ipl_tipo_proyecto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_objetivo_estrategico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_objetivo_estrategico)
                @Html.ValidationMessageFor(model => model.ipl_objetivo_estrategico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipl_id_area, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipl_id_area)
                @Html.ValidationMessageFor(model => model.ipl_id_area)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
