@*@model IEnumerable<CBM_SART.Models.iso_detalle_plan>*@
@model CBM_SART.Models.PagedList<CBM_SART.Models.iso_detalle_plan>
@{
    ViewBag.Title = "Tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String From_url = "Tareas/" + ViewBag.id;
    Session["Sidebar"] = "Planes";
    Session["SidebarSelect"] = "Tareas";
    Session["nt1"] = ViewBag.t1;
    Session["nt2"] = ViewBag.t2;
    Session["nt3"] = ViewBag.t3;
    Session["nt4"] = ViewBag.t4;
}

<div class="seccion-barra">
    @*<img src="~/images/label-plain-black.png" height="24" width="24" />*@
    @*@ViewBag.nombreplan.ipl_nombre_plan;*@
    <div class="col-md-1" style="width: 65px">
        <img src="~/images/seo-icons/market-analysis-icon.png" height="52" width="52" />
    </div>
    <div class="col-md-11 plan-header " style="  padding-left: 0px;">
        <div class="col-md-12" style="padding-left: 0px;"><strong>Código :</strong> @ViewBag.nombreplan[0].ipl_codigo_plan</div>
        <div class="col-md-12" style="padding-left: 0px;"><strong>Nombre :</strong> @ViewBag.nombreplan[0].ipl_nombre_plan</div>
        @*<div class="col-md-12" style="padding-left: 0px;"><strong>Descripción :</strong> @ViewBag.nombreplan[0].ipl_descripcion_plan</div>*@
        <span class="text-count"><strong>Total Tareas :</strong> @ViewBag.total</span>
    </div>
    <div class="clear"></div>

</div>

<div class="content">

    @using (Html.BeginForm(From_url, null, FormMethod.Get))
    {
        <div class="search">
            @*<div class="col-md-10">
                    <div class="input-group">

                        <input type="text"
                               name="filter"
                               value="@ViewBag.filter"
                               class="form-control"
                               style="display: inline; height:30px"
                               placeholder="Buscar por Nombre de la Tarea" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="submit">Buscar</button>
                        </span>

                    </div>
                </div>*@
            <div class="col-md-10">
                
            </div>
            <div class="col-md-2" style="padding-left: 0px;">
                <div class="pull-right">
                    <a class="btn btn-success" data-modal="" href="/Plan/NuevaTarea/@ViewBag.id" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nuevo
                    </a>
                </div>

            </div>

            <div class="clear"></div>
        </div>

        <div class="col-md-12 grid-content">
            @{
        var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                      tableStyle: "table table-bordered table-hover table-responsive table-condensed",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
            //grid.Column("idp_numero_plan", "Nro", style: "action", canSort: false),
                        grid.Column(header: "Nro", canSort: false, style: "action",
                     format: @<text>
                            @Html.Raw(item.idp_numero_plan)
                            @if (item.idp_numero_plan > 0)
                            {
                                @Html.Raw("<a data-modal='' href='/Plan/NuevaTarea?id=" + item.idp_id_plan + "&Nro=" + item.idp_numero_plan + "'><img src='/images/login.png' width='15' class='insert-task'/></a>")
                            }
                            @*@Html.Raw("<a data-modal='' href='/Plan/EliminarTarea/" + item.idp_id_detalle_plan + "' id='" + item.idp_id_detalle_plan + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>")*@
                    </text>),
                   grid.Column("idp_tarea", "Tarea", style: "col-lg-4", canSort: false),
                   grid.Column("idp_fecha_comienzo", "F. Comienzo", style: "col-lg-1", format: (item) => string.Format("{0:dd/MM/yyyy}", item.idp_fecha_comienzo), canSort: false),
                   grid.Column("idp_fecha_fin", "F. Fin", style: "col-lg-1", format: (item) => string.Format("{0:dd/MM/yyyy}", item.idp_fecha_fin), canSort: false),
                   grid.Column("Cantidad", style: "col-lg-1 colum-cantidad", canSort: false,format: @<text>
                    @Html.Raw("<div class='progress'><div class='progress-bar' style='width: " + item.idp_cantidad + "%;'>" + item.idp_cantidad + "</div></div>")
                </text>),
                   grid.Column("idp_estado", "Estado", style: "col-lg-1 estado-tarea", canSort: false),
                   grid.Column(header: "Acción", canSort: false, style: "action",
                     format: @<text>
                    @if (item.idp_numero_plan > 0)
                    {
                        @Html.Raw("<a data-modal='' href='/Plan/EditarTarea/" + item.idp_id_detalle_plan + "' id='" + item.idp_id_detalle_plan + "' title='Editar'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                        @Html.Raw("<a data-modal='' href='/Plan/EliminarTarea/" + item.idp_id_detalle_plan + "' id='" + item.idp_id_detalle_plan + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                    }
                    </text>)));
            }
        </div>
        <div class="clear"></div>
    }
</div>



@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idp_numero_plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_tarea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_fecha_comienzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_fecha_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_id_plan_padre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_fecha_creacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_fecha_modificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_verificar_accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_tiempoded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_tiemponeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_avancep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_objetivo_estrategico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_entregable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_id_departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_costo_ejecutado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_id_proceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idp_peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iso_plan.ipl_tipo_plan)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_numero_plan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_tarea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_fecha_comienzo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_fecha_fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_porcentaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_id_plan_padre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_fecha_creacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_fecha_modificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_verificar_accion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_unidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_tiempoded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_tiemponeto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_avancep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_objetivo_estrategico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_entregable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_id_departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_costo_ejecutado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_id_proceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idp_peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iso_plan.ipl_tipo_plan)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@

<div id='myModal' class='modal fade in' tabindex='-1'>
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/scripts/appjs/phones.js")
    <script src="/Scripts/locales/bootstrap-datepicker.es.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(document).ready(function () { //////// Inicio Cargado el Documento
            //Date Piker
            jQuery.validator.methods["date"] = function (value, element) { return true; }
            $(".insert-task").hide();
            $("#grid tbody tr:first").addClass("fonfotareacero");
            $("#grid tbody tr td.estado-tarea").each(function (index, element) {
                if (($(element).text()) == "Atrasado") {
                    $(element).addClass('t-Atrasado');
                }
                if (($(element).text()) == "Completo") {
                    $(element).addClass('t-Completo');
                }
                if (($(element).text()) == "Pendiente") {
                    $(element).addClass('t-Pendiente');
                }
            });
        });
        $("#grid tbody tr").hover(function () {
            //var img = $(this).find("img")[0];
            //img.src = img.src.replace('-grey.png', '-blk.png');
            //Obtiene el ID de la tarea desde el link para eliminar
            var idTarea = $(this).find("a").last().attr('id');
            $(".insert-task").hide();
            $(this).find(".insert-task").show();
            //console.log(idTarea);
        }, function () {
            //var img = $(this).find("img")[0];
            //img.src = img.src.replace('-blk.png', '-grey.png');
        });
    </script>
}