@model CBM_SART.Models.PagedList<CBM_SART.Models.iso_pedido_exam_consulta_m>

<div class="cm-title-ant">
    Exámenes Pedidos
</div>
@{
    string url = "CmSigno?idConsulta=" + ViewBag.idConsulta;
}
<div class="content">
    <div class="search">
        <div class="col-md-11">
            <div class="input-group">

                <input type="text"
                       id="filter-examen-lab"
                       name="filter"
                       value="@ViewBag.filter"
                       class="form-control"
                       style="display: inline; height:30px"
                       placeholder="Buscar por Nombre" />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" id="btn-examen-lab" type="button" style="height: 28px;">Buscar</button>
                </span>

            </div>
        </div>
        <div class="col-md-1">
            <div class="pull-right">
                <a class="modal-link btn btn-success" data-modal="" href="/HistoriaClinica/CrearExamenLab?idConsulta=@ViewBag.idConsulta" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nuevo
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="col-md-12 grid-content">
        @{
            var grid = new WebGrid(
                            canPage: true,
                            rowsPerPage: Model.PageSize,
                            canSort: true,
                            ajaxUpdateContainerId: "grid-examen-lab");

            grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid-examen-lab" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                      tableStyle: "table table-bordered table-hover table-responsive table-condensed",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
                grid.Column(header: "No.", style: "",
                format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
              grid.Column("iso_pedido_examen.iso_tipo_pedido_exam.itp_nombre_tpedido", "Tipo", canSort: false, style: "col-lg-2"),
              grid.Column("iso_pedido_examen.ipe_nombre_pexamen", "Nombre", canSort: false, style: "col-lg-3"),
              grid.Column("ipc_descrip", "Resultado", canSort: false, style: "col-lg-3"),
              grid.Column("ipc_fecha", "Fecha", canSort: false, style: "col-lg-1", format: (item) => string.Format("{0:dd/MM/yyyy}", item.ipc_fecha)),
              grid.Column("ipc_observacion", "Observación", canSort: false, style: "col-lg-3"),
              grid.Column(header: "Archivo", canSort: false, style: "col-lg-4",
                format: @<text>
                @if (item.ipc_archivo != null)
                {
                    if (item.iso_consulta_medica.icm_tipo_consulta == 1 || item.iso_consulta_medica.icm_tipo_consulta == 3)
                    {
                        @Html.Raw("<a target='_blank' class='button' href=" + Url.Action("GetDoc", "HistoriaClinica", new { ID = item.ipc_id_pexamen }) + ">" + item.ipc_ubicacion_archivo + "</a>")
                    }
                    else{
                        @Html.Raw("<a target='_blank' class='button' href=" + Url.Action("GetDoc", "HistoriaClinica", new { ID = item.ipc_id_pexamen }) + ">Descargar</a>")
                    }
                    
                }else{
                    @Html.Raw("<span>" + item.ipc_ubicacion_archivo + "</span>")
                }
                    </text>),
              grid.Column(header: "Acción", canSort: false, style: "action",
                     format: @<text>
                @Html.Raw("<a class='modal-link' data-modal='' href='/HistoriaClinica/ModificarExamenLab?idConsulta=" + ViewBag.idConsulta + "&IdParametro=" + item.ipc_id_pexamen + "' id='" + item.ipc_id_pexamen + "' title='Editar'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-toggle='modal' data-target='#confirm-delete-examen-lab' data-href='/HistoriaClinica/EliminarAntecente?IdConsulta=" + ViewBag.idConsulta + "&IdAntecente=" + item.ipc_id_pexamen + "&TipoAntecente=ExamenLab' id='" + item.ipc_id_pexamen + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                    </text>)
                ));
        }


    </div>
    <div class="clear"></div>

</div>



<div class="modal fade" id="confirm-delete-examen-lab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px;">
        <div class="modal-content">
            <div class="modal-header title-window">
                Atención
            </div>
            <div class="modal-body" style="  margin: 15px 0;">
                Esta seguro(a) de eliminar el registro selecionado?
            </div>
            <div class="modal-footer" style="margin: 0 12px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a class="btn btn-danger btn-ok">Si</a>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.total > 0)
{
    <script>
        $('#confirm-delete-examen-lab').on('show.bs.modal', function (e) {
            //$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $(this).find('.btn-ok').click(function () {
                $('#confirm-delete-examen-lab').modal('toggle');
                //Elimina
                var url = $(e.relatedTarget).data('href')
                $('#ms_cm_examen_lab').load(url);
                //Recargar Tablas
                $('#cm_examen_lab').fadeOut(400);
                var url1 = "@Url.Action("CmExamenLab", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
                $('#cm_examen_lab').load(url1);
                $('#cm_examen_lab').fadeIn(400);
            });

        });
    </script>
}
<script>
    $("#btn-examen-lab").click(function () {
        filter_examen_lab();
    });

    $('#filter-examen-lab').keypress(function (e) {
        if (e.which == 13) {//Enter key pressed
            filter_examen_lab();
        }
    });
    function filter_examen_lab() {
        var filter = $("#filter-examen-lab").val();
        var url = "@Url.Action("CmExamenLab", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&filter=" + filter;
        $('#cm_examen_lab').load(url);
        return false;
    }
</script>