@model CBM_SART.Models.iso_historia_clinica

@{
    ViewBag.Title = "Historia Clinica";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "VigilaciaSalud";
    Session["SidebarSelect"] = "Historia";
}

<div class="col-md-12">
    <div class="col-md-8">
        <div class="col-md-5" style="padding-left:0">
            <div><label class="label-1">Fecha Apertura: </label> @Html.TextBoxFor(model => model.ihc_fecha_historia_clinica, "{0:dd/MM/yyyy}", new { @disabled = "disabled", @style = "text-align: center;width: 80px;" })</div>
            <div><label class="label-1">Codigo:</label></div>
        </div>
        <div class="col-md-7">
            <div class="title-h">Historia Clinica</div>
        </div>
        <div class="col-md-12" style="padding-left:0">
            <div><label class="label-1">Trabajador: </label><span class="nombre-personal-h">@Model.iso_personal.ipe_apellido_paterno @Model.iso_personal.ipe_nombre_personal</span></div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="col-md-4" style="text-align:center">
            <a data-modal='' href='/HistoriaClinica/ListaPersonal' title='Lista de Trabajadores'><img class="cm-image" width="90" src="/images/hc/hc.jpg" /></a>
            Trabajadores
        </div>
        <div class="col-md-4" style="text-align:center">
            <a data-modal='' href='/HistoriaClinica/HistorialCM?IdPersonal=@Model.iso_personal.ipe_id_personal' title='Historial Consultas Médicas'><img class="cm-image" width="90" src="/images/hc/historial-cm.jpg" /></a>
            Historial de Consultas Médicas
        </div>
        <div class="col-md-4" style="text-align:center">
            <a data-modal='' href='/HistoriaClinica/IngresarCM' title='Ingresar Consulta Médica'><img class="cm-image" width="90" src="/images/hc/nueva-cm.jpg" /></a>
            Ingresar Consulta Médica
        </div>
        
    </div>

</div>
<div class="clear"></div>
<label class="label-2"> Datos Generales</label>
<div class="hc-container-personal">
    <div class="col-md-10">
        <div class="col-md-4">
            <label class="label-3">CI:</label>@Model.iso_personal.ipe_ced_ruc_personal<br />
            <label class="label-3">Lugar Nacimiento:</label>@String.Format("{0:MM/dd/yyyy}",@Model.iso_personal.ipe_lugar_nacimiento)<br />
            <label class="label-3">Fecha Nacimiento:</label>@String.Format("{0:MM/dd/yyyy}",@Model.iso_personal.ipe_fecha_nacimiento)<br />
            <label class="label-3">Género:</label>@Model.iso_personal.ipe_genero<br />
            <label class="label-3">Edad:</label>@Model.iso_personal.ipe_edad<br />
            <label class="label-3">Estado Civil:</label>@Model.iso_personal.ipe_estado_civil
        </div>
        <div class="col-md-8">
            <label class="label-3">Dirección:</label>@Model.iso_personal.ipe_dir_domicilio<br />
            <label class="label-3">Teléfono:</label>@Model.iso_personal.ipe_telf_1<br />
            <label class="label-3">E-mail:</label>@Model.iso_personal.ipe_email
            <label class="label-3">Nacionalidad:</label>@Model.iso_personal.ipe_nacionalidad<br />
            <label class="label-3">Nivel Educativo:</label>@Model.iso_personal.ipe_nivel_educativo
            <label class="label-3">Nro Afil IESS:</label>@Model.iso_personal.ipe_nro_afiliacion<br />
            <label class="label-3">Profesión:</label>@Model.iso_personal.ipe_profesion<br />
            <label class="label-3">Tipo Sangre:</label>@Model.iso_personal.ipe_tipo_sangre
            <label class="label-3">Factor RH:</label>@Model.iso_personal.ipe_factor_rh
            <label class="label-3">Etnia:</label>@Model.iso_personal.ipe_etnia<br />
        </div>
    </div>
    <div class="col-md-2">
        <div class="foto-h">
            @if (Model.iso_personal.ipe_foto != null)
            {
            <div class="inline-image-preivew">
                <img id="blah" alt="Foto Personal" width="120" height="100" style="border: 1px solid #ccc; max-width: 100%; height: auto" src="@Url.Action("GetImage", "HistoriaClinica", new { id = Model.iso_personal.ipe_id_personal })" />
            </div>
            }
            else
            {
            <div class="inline-image-preivew">
                <img id="blah" src="~/images/foto_personal.png" width="120" height="100" alt="Foto del Personal" style="border: 1px solid #ccc; max-width: 100%; height: auto; " />
            </div>
            }
        </div>

    </div>
</div>
<div class="clear"></div>
<label class="label-2"> Datos Empresa</label>
<div class="clear"></div>
<div class="hc-container-personal col-md-9" style="width:79%;">
    <div class="col-md-12">
        <label class="label-3">Razón Social:</label>@if (Model.iso_personal.iso_empresa.iem_razon_social == null || Model.iso_personal.iso_empresa.iem_razon_social == "")
        {<samp>Sin Registrar</samp>}
        else
        { @Model.iso_personal.iso_empresa.iem_razon_social}
        <label class="label-3">Ciudad-Sede:</label>@if (Model.iso_personal.iso_empresa.iem_direccion_empresa == null || Model.iso_personal.iso_empresa.iem_direccion_empresa == "")
        {<samp>Sin Registrar</samp>}
        else
        { @Model.iso_personal.iso_empresa.iem_direccion_empresa}

    </div>
</div>
<div class="col-md-3" style="width:21%;">
    <span style="width:100%; text-align:center; display:block">Filtro de Historia Clinica</span>
    <select style="width: 100%; text-align: center" class="form-control">
        @foreach (var colsulta in Model.iso_consulta_medica)
        {
            <option>@colsulta.iso_tipo_consulta_m.itc_nom_tipo_consulta_m - @String.Format("{0:MM/dd/yyyy}", colsulta.icm_fecha_consulta)</option>
        }
    </select>
</div>
<div class="clear"></div>
<br />
<div class="col-md-12" style="padding-left:0;padding-right:0">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#inf" data-toggle="tab" aria-expanded="false">Información Ocupacional</a></li>
        <li class=""><a href="#ant" data-toggle="tab" aria-expanded="false">Antecedentes de Salud</a></li>
        <li class=""><a href="#sig" data-toggle="tab" aria-expanded="false">Signos y Sintomas</a></li>
        <li class=""><a href="#hab" data-toggle="tab" aria-expanded="false">Hábitos/Estilos de Vida</a></li>
        <li class=""><a href="#exa" data-toggle="tab" aria-expanded="false">Exámen Físico</a></li>
        <li class=""><a href="#rev" data-toggle="tab" aria-expanded="false">Revisión por Sistemas</a></li>
        <li class=""><a href="#lab" data-toggle="tab" aria-expanded="true">Ex. Laboratorio</a></li>
        @*
        <li class="disabled"><a>Disabled</a></li>*@
    </ul>
</div>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="inf">
        <div class="block-tab-h col-lg-12">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="label-3">Fecha Ingreso:</label>@String.Format("{0:MM/dd/yyyy}",@Model.iso_personal.ipe_fecha_ingreso)<br />
                    @*<label class="label-3">Centro de Costos:</label>@Model.iso_personal.ipe_id_centro_costo<br />*@
                    <label class="label-3">Area:</label>@if (@Model.iso_personal.iso_departamento == null || @Model.iso_personal.iso_departamento.ide_nombre_departamento == "")
                    {<span>Sin Registrar</span>}
                    else
                    { @Model.iso_personal.iso_departamento.ide_nombre_departamento}<br />
                    <label class="label-3">Cargo:</label>@if (@Model.iso_personal.iso_cargo == null)
                    {<span>Sin Registrar</span>}
                    else
                    { @Model.iso_personal.iso_cargo.icg_nombre}<br />
                    <label class="label-3">Puesto Trabajo:</label>@if (@Model.iso_personal.iso_puesto_trabajo == null)
                    {<span>Sin Registrar</span>}
                    else
                    { @Model.iso_personal.iso_puesto_trabajo.ipt_nombre_puesto_t}<br />
                </div>
                <div class="col-md-6">
                    <label class="label-3">Tiene Experencia:</label>@Model.iso_personal.ipe_tiene_experiencia<br />
                    <label class="label-3">Tiene Familiares en la Empresa:</label>@Model.iso_personal.ipe_familiares_empresa<br />
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <a href="#" class="btn btn-primary btn-xs">Accidentes Ocupacionales</a> <a href="#" class="btn btn-primary btn-xs">Incidentes Ocupacionales</a> <a href="#" class="btn btn-primary btn-xs">Equipos de Protección</a> <a href="#" class="btn btn-primary btn-xs">Actividades Extralaborales</a> <a href="#" class="btn btn-primary btn-xs">Trabajos Anteriores</a> <a href="#" class="btn btn-primary btn-xs"><strong>Profesiograma</strong></a>
            </div>

        </div>
    </div>
    <div class="tab-pane fade " id="ant">
        <div class="block-tab-h col-lg-12">
            <p>Antecedentes Patológicos Personales</p>
            <form>
                <div class="col-md-12">

                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade  in" id="sig">
        <div class="block-tab-h col-lg-12">
            <p>Signos</p>
        </div>
    </div>
    <div class="tab-pane fade in" id="hab">
        <div class="block-tab-h col-lg-12">
            <p>Habitos</p>
        </div>
    </div>
    <div class="tab-pane fade in" id="exa">
        <div class="block-tab-h col-lg-12">
            <p>Examenes</p>
        </div>
    </div>
    <div class="tab-pane fade  in" id="rev">
        <div class="block-tab-h col-lg-12">
            <p>Revisiones</p>
        </div>
    </div>
    <div class="tab-pane fade in" id="lab">
        <div class="block-tab-h col-lg-12">
            <p>Laboratorio</p>
        </div>
    </div>
</div>



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ihc_id_historia)

    @Html.HiddenFor(model => model.ihc_id_personal)

    <div class="form-group">
        @Html.LabelFor(model => model.ihc_id_empresa, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ihc_id_empresa)
            @Html.ValidationMessageFor(model => model.ihc_id_empresa)
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Empleado: </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.iso_personal.ipe_nombre_personal)

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ihc_lugar_historia_clinica, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ihc_lugar_historia_clinica)
            @Html.ValidationMessageFor(model => model.ihc_lugar_historia_clinica)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ihc_fecha_historia_clinica, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ihc_fecha_historia_clinica)
            @Html.ValidationMessageFor(model => model.ihc_fecha_historia_clinica)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }*@

<div>
    @Html.ActionLink("Regresar", "Panel")
</div>


<!-- modal placeholder-->
<div id='myModal' class='modal fade in' tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/appjs/phones.js")
<script type="text/javascript">
    $(function () {
        $(document).delegate(".webgrid-row-style", "click", function (e) {
            var link = $(this).find('td:first #ipe_id_personal').attr('href');
            var id = $(this).find('td:first #ipe_id_personal').val();
            //Si no tiene link, crea la historia y redirecciona
            if (link == "") {
                if (confirm('El Empleado selecionado no registra una Historia Clinica, Desea crear una con la fecha actual?')) {
                    var url = "/HistoriaClinica/InsertarHistoria?IdPersonal=" + id;
                    console.log(url);
                    $.get(url, function (IdHistoriaClinica) {
                        console.log(IdHistoriaClinica);
                        if (IdHistoriaClinica != "") {
                            link = "/HistoriaClinica/Edit/" + id;
                            location.href = link;
                        } else {
                            link = "/HistoriaClinica/Panel";
                            location.href = link;
                        }
                    }, 'html');
                } else {
                    return false;
                }
            }
            location.href = link;
        });
    });
</script>

}
