@model CBM_SART.Models.iso_historia_clinica

@{
    ViewBag.Title = "Historia Clinica";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "VigilaciaSalud";
    Session["SidebarSelect"] = "Historia";
    //Session["TabSelect"] = "lab";
    int idConsulta = ViewBag.idConsulta;
    int consultaCount = Model.iso_consulta_medica.Where(x => x.icm_id_consulta == idConsulta).Count();
    CBM_SART.Models.iso_consulta_medica consulta = null;
    if (consultaCount > 0)
    {
        consulta = Model.iso_consulta_medica.Where(x => x.icm_id_consulta == idConsulta).First();

    }

}

@if (consultaCount > 0)
{
    //////////////////////////////////////////CONSULTA MEDICA////////////////////////////////
    if (consulta.icm_tipo_consulta == 4)
    {
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="col-md-5" style="padding-left:0">
                    <div>
                        <label class="label-1">Fecha: </label>
                        <input data-val="true" disabled="disabled" id="icm_fecha_consulta" name="icm_fecha_consulta" style="text-align: center;width: 80px;" type="text" value="@String.Format("{0:dd/MM/yyyy}", consulta.icm_fecha_consulta)">
                    </div>
                    <div><label class="label-1">P. Trabajo:</label>@Model.iso_personal.iso_puesto_trabajo.ipt_nombre_puesto_t</div>
                </div>
                <div class="col-md-7">
                    <div class="title-h">@consulta.iso_tipo_consulta_m.itc_nom_tipo_consulta_m</div>
                </div>
                <div class="col-md-12" style="padding-left:0">
                    <div><label class="label-1">Trabajador: </label><span class="nombre-personal-h">@Model.iso_personal.ipe_apellido_paterno @Model.iso_personal.ipe_nombre_personal</span></div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-4" style="text-align:center">
                    <a data-modal='' href='/HistoriaClinica/ListaPersonal' title='Lista de Trabajadores'><img class="cm-image" width="90" src="/images/hc/hc.jpg" /></a>
                    Trabajadores
                </div>
                <div class="col-md-4" style="text-align:center">
                    <a data-modal='' href='/HistoriaClinica/HistorialCM?IdPersonal=@Model.iso_personal.ipe_id_personal' title='Historial Consultas Médicas'><img class="cm-image" width="90" src="/images/hc/historial-cm.jpg" /></a>
                    Historial de Consultas Médicas
                </div>

            </div>

        </div>
        <div class="clear"></div>
        <hr style="margin-top: 5px; margin-bottom: 10px; " />
        <div class="col-md-12">
            <div class="col-md-1">
                <label class="label-1">Enfermedad Actual:</label>
            </div>
            <div class="col-md-11">
                @Html.TextAreaFor(c => consulta.icm_enfermedad_actual, 1, 100, new { @class = "form-control valid" })
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:5px">
            <div class="col-md-1">
                <label class="label-1">Motivo Consulta:</label>
            </div>
            <div class="col-md-11">
                @Html.TextAreaFor(c => consulta.icm_motivo_consulta, 1, 100, new { @class = "form-control valid" })
            </div>
        </div>

        <div class="clear"></div>
        <div class="col-md-6" style="margin-bottom: 10px;">
            <div class="cm-block consulta-medica" id="cm_signo"></div>
            <div id="ms_cm_signo" class="delete-record"></div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px;">
            <div class="cm-block" id="cm_ef_1"></div>
            <div id="ms_ef_1" class="delete-record"></div>
        </div>
        <div class="clear"></div>
        <span>Diagnostico</span>
        <span>Trataiento</span>
        <div class="clear"></div>

        <div class="col-md-6" style="margin-bottom: 10px;">
            <div class="cm-block consulta-medica" id="cm_examen_lab"></div>
            <div id="ms_cm_examen_lab" class="delete-record"></div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px;">
            <div class="cm-block" id="cm_ef_2"></div>
            <div id="ms_ef_2" class="delete-record"></div>
        </div>
    }
    //////////////////////////////////////////SALIDA////////////////////////////////////
    if (consulta.icm_tipo_consulta == 7)
    {
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="col-md-5" style="padding-left:0">
                    <div>
                        <label class="label-1">Fecha: </label>
                        <input data-val="true" disabled="disabled" id="icm_fecha_consulta" name="icm_fecha_consulta" style="text-align: center;width: 80px;" type="text" value="@String.Format("{0:dd/MM/yyyy}", consulta.icm_fecha_consulta)">
                    </div>
                    <div><label class="label-1">P. Trabajo:</label>@Model.iso_personal.iso_puesto_trabajo.ipt_nombre_puesto_t</div>
                </div>
                <div class="col-md-7">
                    <div class="title-h">@consulta.iso_tipo_consulta_m.itc_nom_tipo_consulta_m</div>
                </div>
                <div class="col-md-12" style="padding-left:0">
                    <div><label class="label-1">Trabajador: </label><span class="nombre-personal-h">@Model.iso_personal.ipe_apellido_paterno @Model.iso_personal.ipe_nombre_personal</span></div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-4" style="text-align:center">
                    <a data-modal='' href='/HistoriaClinica/ListaPersonal' title='Lista de Trabajadores'><img class="cm-image" width="90" src="/images/hc/hc.jpg" /></a>
                    Trabajadores
                </div>
                <div class="col-md-4" style="text-align:center">
                    <a data-modal='' href='/HistoriaClinica/HistorialCM?IdPersonal=@Model.iso_personal.ipe_id_personal' title='Historial Consultas Médicas'><img class="cm-image" width="90" src="/images/hc/historial-cm.jpg" /></a>
                    Historial de Consultas Médicas
                </div>

            </div>

        </div>
        <div class="clear"></div>
        <hr style="margin-top: 5px; margin-bottom: 10px; " />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Información de Salida</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => consulta.icm_fecha_salida, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => consulta.icm_fecha_salida, "{0:dd/MM/yyyy}", new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control datepicker required valid" })
                            @Html.ValidationMessageFor(model => consulta.icm_fecha_salida)
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group clear">
                        @Html.LabelFor(model => consulta.icm_fecha_consulta, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => consulta.icm_fecha_consulta, "{0:dd/MM/yyyy}", new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control datepicker required valid" })
                            @Html.ValidationMessageFor(model => consulta.icm_fecha_consulta)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Reporte Evaluación Médica y Documental</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => consulta.icm_exam_preocu, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => consulta.icm_exam_preocu, new SelectList(
                                new List<Object>{
                                new { value = "NO" , text = "NO"  },
                                new { value = "SI" , text = "SI" }
                                },
                                "value",
                                "text",
                                0), new {@class = "form-control required valid" })

                            @Html.ValidationMessageFor(model => consulta.icm_exam_preocu)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Condición General del Egreso</div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="clear"></div>

    }

    //////////////////////////////////////////REINTEGRO/////////////////////////////////

    <div class="clear"></div>

}

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content" style="width: 40%; margin: 50px auto; overflow: hidden; ">
    </div>
</div>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in' tabindex='-1' role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/appjs/phones.js")

    <script type="text/javascript">

        $(document).ready(function () {
            var tab = "@Session["TabSelect"]";
            if (tab == "") {
                tab = "inf";
                $.post('/HistoriaClinica/SetVariable',
                  { key: "TabSelect", value: tab }, function (data) {
                      console.log("Success " + data.success);
                  });
            }
            $('a[href="#' + tab + '"]').tab('show');


            //Antecedente Personal
            var url = "@Url.Action("CmAntePersonal", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_ante_personal').load(url);
            //Antecedente Familiar
            url = "@Url.Action("CmAnteFamiliarMorb", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_ante_familiar_morb').load(url);
            url = "@Url.Action("CmAnteFamiliarMort", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_ante_familiar_mort').load(url);
            url = "@Url.Action("CmAnteVacuna", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_ante_vacuna').load(url);
            url = "@Url.Action("CmAnteMujer", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_ante_mujer').load(url);
            //Signos
            url = "@Url.Action("CmSigno", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_signo').load(url);
            url = "@Url.Action("CmSindrome", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_sindrome').load(url);
            //Habitos
            url = "@Url.Action("CmHabito", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_habito').load(url);
            //Exámen Fisico
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=1";
            $('#cm_ef_1').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=2";
            $('#cm_ef_2').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=3";
            $('#cm_ef_3').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=4";
            $('#cm_ef_4').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=5";
            $('#cm_ef_5').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=6";
            $('#cm_ef_6').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=7";
            $('#cm_ef_7').load(url);
            url = "@Url.Action("CmEFParametro", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta&IdTipoParametro=9";
            $('#cm_ef_9').load(url);
            //Exámen Laboratorio
            url = "@Url.Action("CmExamenLab", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
            $('#cm_examen_lab').load(url);
        });

        $('ul.nav.nav-tabs li a').on('click', function () {
            var val = $(this).attr('href').replace("#", "");
            $.post('/HistoriaClinica/SetVariable',
              { key: "TabSelect", value: val }, function (data) {
                  console.log("Success " + data.success);
              });
        });
        $(function () {
            $(document).delegate(".webgrid-row-style", "click", function (e) {
                var link = $(this).find('td:first #ipe_id_personal').attr('href');
                var id = $(this).find('td:first #ipe_id_personal').val();
                //Si no tiene link, crea la historia y redirecciona
                if (link == "") {
                    if (confirm('El Empleado selecionado no registra una Historia Clinica, Desea crear una con la fecha actual?')) {
                        var url = "/HistoriaClinica/InsertarHistoria?IdPersonal=" + id;
                        console.log(url);
                        $.get(url, function (IdHistoriaClinica) {
                            console.log(IdHistoriaClinica);
                            if (IdHistoriaClinica != "") {
                                link = "/HistoriaClinica/Edit/" + id;
                                location.href = link;
                            } else {
                                link = "/HistoriaClinica/Panel";
                                location.href = link;
                            }
                        }, 'html');
                    } else {
                        return false;
                    }
                }
                location.href = link;
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
    <script>
        $("#combo-consulta-medica").change(function () {
            var link = "/HistoriaClinica/Edit/@Model.ihc_id_personal?idConsulta=" + $(this).val();
            window.location.href = link;
        });

    </script>
}
