@model CBM_SART.Models.iso_historia_clinica

@{
    ViewBag.Title = "Historia Clinica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Model.iso_personal.ipe_apellido_paterno @Model.iso_personal.ipe_nombre_personal
</div>
<h4>Datos Personales</h4>
<hr />
<div class="hc-container-personal">
    <div class="form-group">
        <div class="col-md-1">
            CI:
        </div>
        <div class="col-md-4">
            @Model.iso_personal.ipe_ced_ruc_personal
        </div>
        <div class="col-md-1">
            Direccion:
        </div>
        <div class="col-md-4">
            @Model.iso_personal.ipe_dir_domicilio
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            Lugar de Nacimiento:
        </div>
        <div class="col-md-4">
            @Model.iso_personal.ipe_fecha_nacimiento
        </div>
        <div class="col-md-1">
            Tipo Sangre:
        </div>
        <div class="col-md-1">
            @Model.iso_personal.ipe_tipo_sangre
        </div>
        <div class="col-md-1">
            Factor RH:
        </div>
        <div class="col-md-1">
            @Model.iso_personal.ipe_factor_rh
        </div>
    </div>
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ihc_id_historia)

        @Html.HiddenFor(model => model.ihc_id_personal)

        <div class="form-group">
            @Html.LabelFor(model => model.ihc_id_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ihc_id_empresa)
                @Html.ValidationMessageFor(model => model.ihc_id_empresa)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Empleado: </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.iso_personal.ipe_nombre_personal)
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ihc_lugar_historia_clinica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ihc_lugar_historia_clinica)
                @Html.ValidationMessageFor(model => model.ihc_lugar_historia_clinica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ihc_fecha_historia_clinica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ihc_fecha_historia_clinica)
                @Html.ValidationMessageFor(model => model.ihc_fecha_historia_clinica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Panel")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
