@model CBM_SART.Models.iso_consulta_medica

@{
    Layout = null;
    string link = "GuardarCM";
}

<div class="title-window" style="height:32px">
    Selecionar Tipo de Consulta Médica
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <h4 class="modal-title">Nueva Consulta Medica</h4>
</div>


@using (Html.BeginForm(link, null, FormMethod.Post))
{
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.icm_id_historia_clinica)
            @Html.HiddenFor(model => model.icm_id_personal)
            <div class="col-md-12 grid-content">
                <div class="form-group">
                    @Html.LabelFor(model => model.icm_fecha_consulta, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.icm_fecha_consulta, "{0:dd/MM/yyyy}", new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control datepicker required valid" })
                        @Html.ValidationMessageFor(model => model.icm_fecha_consulta)
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-center" style="width:100%">Tipo Consulta Medica</label>
                    <div class="clear"></div>
                    <div class="block-tipo-consulta">
                        
                        @foreach (CBM_SART.Models.iso_tipo_consulta_m var in ViewBag.TipoConsutla)
                        {
                            <label>
                                @Html.RadioButtonFor(x => x.icm_tipo_consulta, var.itc_id_tipo_consulta_m, new { @class = "required " })
                                @var.itc_nom_tipo_consulta_m
                            </label>
                        }
                        @Html.ValidationMessageFor(model => model.icm_tipo_consulta)
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="modal-footer">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="/images/wait.gif" alt="wiat" />
                    Espere...
                </span>
                <button class="btn btn-primary " type="submit" name="Guardar"> Guardar </button>
                <button class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
}
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
    jQuery.validator.methods["date"] = function (value, element) { return true; }
</script>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'es',
            autoclose: true
        }); //Initialise any date pickers
    });
</script>

