@model CBM_SART.Models.iso_ante_familiar_consulta_m
@{
    Layout = null;
    SelectList list = ViewBag.SelectListParametro;
}

<div class="title-window" style="height:32px">
    Modificar Antecedente Familiar.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <h4 class="modal-title">Datos Antecedente Familiar Mortalidad</h4>
</div>

<div class="modal-body">
    <div class="form-horizontal">

        <form action="/HistoriaClinica/ActualizarAnteFamiliarMorb" method="post" id="form">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ifc_id_consulta_medica)
            @Html.HiddenFor(model => model.ifc_id_historia_clinica)
            @Html.HiddenFor(model => model.ifc_id_personal)
            @Html.HiddenFor(model => model.ifc_tipo_antecedente_f)
            @Html.HiddenFor(model => model.ifc_id_antecedente_familiar)
            @Html.HiddenFor(model => model.iso_antecedente_familiar)
            @Html.HiddenFor(model => model.iso_consulta_medica)
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ifc_id_antecedente_familiar, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("ifc_id_antecedente_familiar", (IEnumerable<SelectListItem>)ViewBag.SelectListParametro, "-Selecionar-", new { @class = "form-control required valid", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ifc_id_antecedente_familiar)
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ifc_edad, new { @class = "control-label col-md-3" })

                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.ifc_edad, new { @class = "form-control required valid" })
                        @Html.ValidationMessageFor(model => model.ifc_edad)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ifc_observacion, new { @class = "control-label col-md-3" })

                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.ifc_observacion, new { @class = "form-control required valid"})
                        @Html.ValidationMessageFor(model => model.ifc_observacion)
                    </div>
                </div>

            </div>

            <div style="clear:both"></div>
            <div class="modal-footer">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="/images/wait.gif" alt="wiat" />
                    Espere...
                </span>
                <span id="ms-error" class="text-center text-danger" style="display:none">
                    Atención, Complete los campos necesarios
                </span>
                <button class="btn btn-primary " type="button" id="btn-guardar-ante-familiar-mort" name="@ViewBag.TipoParametro">Guardar</button>
                <button class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>
<input type="hidden" id="out" />
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
<script>

    $("#btn-guardar-ante-familiar-mort").click(function () {
        $("#progress").show();
        $("#ms-error").hide();
        var url = $("#form").attr("action");
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: $('#form').serialize(),
            success: function (data) {
                $('#cm_ante_familiar_mort').fadeOut(400);
                var url_load = "@Url.Action("CmAnteFamiliarMort", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
                $('#cm_ante_familiar_mort').load(url_load);
                //Cierra el modal
                $("#modal-container").modal('hide');
                $('#cm_ante_familiar_mort').fadeIn(400);
            },
            error: function (error) {
                $("#progress").hide();
                $("#ms-error").show();
                
                console.log('error: ' + error);
            }
        });


        @*//Valida Datos
        var parametro = $("#parametro").val();
        var edad = $("#edad").val();
        var diagnostico = $("#diagnostico").val();
        //Guarda Datos
        var url = "@Url.Action("GuardarAnteFamiliarMorb", "HistoriaClinica")?idConsulta=@ViewBag.idConsulta&idAntecedente=" + parametro + "&Edad=" + edad + "&Diagnostico=" + diagnostico;
        console.log(url);
        $('#out').load(url);
        //Carga Antecedente Familiar
        //Antecedente Familiar
        $('#cm_ante_familiar_morb').fadeOut(400);
        var url1 = "@Url.Action("CmAnteFamiliarMorb", "HistoriaClinica")?IdConsulta=@ViewBag.idConsulta";
        console.log(url1);
        $('#cm_ante_familiar_morb').load(url1);
        //Cierra el modal
        $("#modal-container").modal('hide');
        $('#cm_ante_familiar_morb').fadeIn(400);*@

    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}






