@model CBM_SART.Models.iso_cargo
<div class="title-window" style="height:32px">
    Permite asignar Puestos de Trabajo.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">
    <h4 class="modal-title">Puestos de Trabajo Disponibles/Asiganados para @Model.icg_nombre</h4>
</div>
<div class="modal-body-apt">
    <form action="/Cargo/PuestoTrabajoList/0" method="get">
        <div style="width: 4%; height: 1px; float: left;"></div>
        <div class="col-md-5">
            <div class="search">
                <div class="col-md-10">
                    <p class="text-descrip">Puestos de Trabajo Disponibles</p>
                </div>
                <div class="col-md-2">
                    <div class="counterpt">
                        @Enumerable.Count(ViewBag.puestosdisponibles)
                    </div>
                </div>
                @*<div class="col-md-2">
                        <div class="pull-right">
                            <a class="btn btn-success" data-modal="" href="/PuestoTrabajo/Create" id="btnCreate">
                                <span class="glyphicon glyphicon-plus"></span>
                                Nuevo
                            </a>
                        </div>
                    </div>*@

                <div class="clear"></div>
            </div>
            <div class="col-md-12 grid-content-dialog">
                <table class="table table-bordered table-hover table-responsive table-condensed" id="pt-disponibles" data-swhgajax="true" data-swhgcontainer="grid" data-swhgcallback="">
                    <thead>
                        <tr>
                            <th >
                            </th>
                            <th >
                            </th>
                            <th >
                                Nombre
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                    <tbody id="PuestosDisponibles">

                        @foreach (var item in ViewBag.puestosdisponibles)
                        {
                            <tr>
                                <td class="colum-check">
                                    @item.ipt_id_puesto_t
                                </td>
                                <td class="colum-check">
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    @item.ipt_nombre_puesto_t
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="counter1"></div>
            <div class="paging1"></div>
        </div>
        <div class="col-md-1" style="text-align: center;margin-top: 140px;">
            <a id="btnAsignar" href="#" class="btn btn-success" style="margin-bottom: 8px;">>></a>

            <a id="btnQuitar" href="#" class="btn btn-success"><<</a>
        </div>
        <div class="col-md-5">
            <div class="search">
                <div class="col-md-10">
                    <p class="text-descrip">Puestos de Trabajo Disponibles</p>
                </div>
                <div class="col-md-2">
                    <div class="counterpt">
                        @Enumerable.Count(ViewBag.puestos_asignados)
                    </div>
                </div>
                @*<div class="col-md-2">
                        <div class="pull-right">
                            <a class="btn btn-success" data-modal="" href="/PuestoTrabajo/Create" id="btnCreate">
                                <span class="glyphicon glyphicon-plus"></span>
                                Nuevo
                            </a>
                        </div>
                    </div>*@
                <div class="clear"></div>
            </div>
            <div class="col-md-12 grid-content-dialog">
                <table class="table table-bordered table-hover table-responsive table-condensed" id="pt-asignados" data-swhgajax="true" data-swhgcontainer="grid" data-swhgcallback="">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>
                                Nombre
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                    <tbody id="PuestosAsignadoss">
                        @foreach (var item in ViewBag.puestos_asignados)
                        {
                        <tr>
                            <td class="colum-check">
                                @item.ipt_id_puesto_t
                            </td>
                            <td class="colum-check">
                                <input type="checkbox" />
                            </td>
                            <td>
                                @item.ipt_nombre_puesto_t
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>



            </div>
            <div class="counter2"></div>
            <div class="paging2 paging pagination-datatables pagination pagination-centered"></div>
        </div>

        <div class="clear"></div>
    </form>
</div>

<input id="IdCargo" type="hidden" value="@Model.icg_id_cargo" />
<div id="out"></div>
<script type="text/javascript" src="/Scripts/Datatable/datatable.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/Datatable/datatable-bootstrap.css">
<link rel="stylesheet" type="text/css" href="/Content/Datatable/datatable.css">
<script>
    $('#pt-disponibles').datatable({
        pageSize: 10,
        sort: [false,false, true],
        pagingDivSelector: ".paging1",
    });
    $('#pt-asignados').datatable({
        pageSize: 10,
        sort: [false,false, true],
        pagingDivSelector: ".paging2",
    });

</script>



