@*@model IEnumerable<CBM_SART.Models.iso_cargo>*@
@model CBM_SART.Models.PagedList<CBM_SART.Models.iso_cargo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "VigilaciaSalud";
    Session["SidebarSelect"] = "Cargo";
}


<div class="content table-cargo">
    <div class="seccion-barra">
        <img src="~/images/label-plain-black.png" height="24" width="24" />
        Cargos registrados.
        <span class="text-count">Nro. de  Cargos : @ViewBag.total</span>
    </div>
    @using (Html.BeginForm("Index", null, FormMethod.Get))
    {
        <div class="search">
            <div class="col-md-10">
                <div class="input-group">

                    <input type="text"
                           name="filter"
                           value="@ViewBag.filter"
                           class="form-control"
                           style="display: inline; height:30px"
                           placeholder="Buscar por Nombre del Cargo" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="submit">Buscar</button>
                    </span>

                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a class="btn btn-success" data-modal="" href="/Cargo/Create" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nuevo
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12 grid-content">
            @{
        var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                      tableStyle: "table table-bordered table-hover table-responsive table-condensed",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
              grid.Column("icg_nombre", "Nombre", style: "col-lg-4"),
              grid.Column("icg_num_trabajadores", "N Trab", style: "col-lg-1"),
              grid.Column(header: "Acción", canSort: false, style: "action",
                     format: @<text>
                @Html.Raw("<a class='id-cargo' data-modal='' href='/Cargo/details/" + item.icg_id_cargo + "' id='" + item.icg_id_cargo + "' title='Detalles'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Cargo/edit/" + item.icg_id_cargo + "' id='" + item.icg_id_cargo + "' title='Editar'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Cargo/delete/" + item.icg_id_cargo + "' id='" + item.icg_id_cargo + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                @Html.Raw("<a class='asigcargo' data-modal='' href='/Cargo/AsignarPuestoT/" + item.icg_id_cargo + "' id='" + item.icg_id_cargo + "' title='Cargar Puestos de Trabajo'> <span class='glyphicon glyphicon-asig'> </span> </a>")
                    </text>)
                                               ));
            }


        </div>
        <div class="clear"></div>
    }

</div>



<div id="contenedor-puestotrabajo" class="content table-cargo">


    <div class="seccion-barra">
        <img src="/images/label-plain-black.png" height="24" width="24">
        Puestos de Trabajo Asignados.
        <span class="text-count">Nro. de  Puestos :@ViewBag.totalpuestos</span>
    </div>


    <form action="/Cargo/PuestoTrabajoList/0" method="get">
        <div class="search">
            <div class="col-md-10">
                <div class="input-group">



                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a class="btn btn-success" data-modal="" href="/PuestoTrabajo/Create?path=/Cargo/Index" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nuevo
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12 grid-content" style="height: 397px;overflow: auto;">
            <table class="table table-bordered table-hover table-responsive table-condensed" id="grid1" data-swhgajax="true" data-swhgcontainer="grid" data-swhgcallback="">
                <thead>
                    <tr>
                        <th scope="col">
                            Nombre
                        </th>
                        <th scope="col">
                            N Trab
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr></tr>
                </tfoot>
                <tbody id="PuestosAsignados">
                    <tr>
                        <td colspan="2">
                            <div class="text-muted" style="text-align:center">
                                Seleciona un cargo para mostar los puesto Asignados
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
        <div class="clear"></div>
    </form>
    <!-- modal placeholder-->
</div>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in' tabindex='-1'>
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/scripts/appjs/phones.js")
    <script>
        //Carga por default
        //$(document).ready(function () {
        //    $("#contenedor-puestotrabajo").load("/Cargo/PuestoTrabajoList/0");
        //});
        function CargarPuestos(idCargo) {
            //    $("#contenedor-puestotrabajo").load("/Cargo/PuestoTrabajoList/" + idCargo);
            alert("venta para asignar Puesto")
        }
        $("#grid tbody tr").click(function () {
            $("#grid tbody tr").removeClass("select-cargo")
            $(this).addClass("select-cargo")
            var IdCargo = $(this).find(".id-cargo").attr('id');
            console.log(IdCargo);
            PuestoAsignados("PuestosAsignados", IdCargo)
            //Ajax para traer datos

        });
        //updateId = id de div que se va a modificar
        //value = id del cargo
        function PuestoAsignados(updateId, value) {
            if (value == '') { value = 0 };
            $.getJSON("@Url.Action("PuestosAsignados", "Cargo")"
                + "/" + value,
                function (data) {
                    $("#" + updateId).empty();
                    var row = 0;
                    $.each(data, function (i, item) {
                        var nroT = 0;
                        if (item.ipt_nro_trbajadores > 0){nroT =item.ipt_nro_trbajadores; }
                        $("#" + updateId).append("<tr value='"
                           + item.ipt_id_puesto_t + "'><td>" + item.ipt_nombre_puesto_t
                           + "</td><td> " + nroT
                           + " </td></tr>");
                        row = row + 1;
                    });
                    if (row == 0) {
                        $("#" + updateId).append("<tr> <td colspan='2'>" +
                            "<div class='text-muted' style='text-align:center'>" +
                                "No tiene Puestos de Trabajo asignados" +
                            "</div></td></tr>");
                    }
                });
        }
        $(document).on('click', '#btnAsignar', function () {
            $('#myModalContent').css('opacity', '0.5');
            var ids = ""; //almacena ids de puesto de trabajo
            $('#pt-disponibles tr').filter(':has(:checkbox:checked)').each(function () {
                ids = ids + "&puestos=" + $(this).find('td:first').html(); //captura los check selecionados
            });
            var id = $('#IdCargo').val();
            var puestos = ids;
            var url = "@Url.Action("AnadirPuestoT", "Cargo")?idcargo=" + id + puestos;
            $('#out').load(url);
            //console.log(url);
            //Recarga Dialog
            $('#myModalContent').load('/Cargo/AsignarPuestoT/' + id, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            $('#myModalContent').css('opacity', '1');
        });
        $(document).on('click', '#btnQuitar', function () {
            $('#myModalContent').css('opacity', '0.5');
            var ids = ""; //almacena ids de puesto de trabajo
            $('#pt-asignados tr').filter(':has(:checkbox:checked)').each(function () {
                ids = ids + "&puestos=" + $(this).find('td:first').html(); //captura los check selecionados
            });
            console.log(ids);
            var id = $('#IdCargo').val();
            var puestos = ids;
            //Obtiene la URL
            var url = "@Url.Action("QuitarPuestoT", "Cargo")?idcargo=" + id + puestos;
            $('#out').load(url);
            //Recarga Dialog
            $('#myModalContent').load('/Cargo/AsignarPuestoT/' + id, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');

                bindForm(this);
            });
            $('#myModalContent').css('opacity', '1');
        });
    </script>

    <script type="text/javascript" src="/Scripts/Datatable/datatable.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/Datatable/datatable-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/Datatable/datatable.css">
    <script>
        //$('#grid1').datatable({
        //    pageSize: 10,
        //    sort: [false, false],
        //    pagingDivSelector: ".paging1",
        //});
    </script>

}

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.icg_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_cod_clase_cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_num_trabajadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_jefe_inmediato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_instruccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_experiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icg_conocimiento_adicional)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.icg_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_cod_clase_cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_num_trabajadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_jefe_inmediato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_instruccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_experiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icg_conocimiento_adicional)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.icg_id_cargo }) |
                @Html.ActionLink("Details", "Details", new { id=item.icg_id_cargo }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.icg_id_cargo })
            </td>
        </tr>
    }

    </table>*@
