@model CBM_SART.Models.iso_detalle_matriz_mrl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>iso_detalle_matriz_mrl</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idm_probabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idm_probabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idm_consecuencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idm_consecuencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idm_exposicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idm_exposicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idm_resultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idm_resultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idm_valoracion_gp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idm_valoracion_gp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idm_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idm_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso_matriz_mrl.imr_localizacion_mrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso_matriz_mrl.imr_localizacion_mrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso_riesgo_mrl.irm_nombre_riesgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso_riesgo_mrl.irm_nombre_riesgo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
