@model CBM_SART.Models.iso_equipo_proteccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>iso_equipo_proteccion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iep_nombre_equipo_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iep_nombre_equipo_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iep_ubic_imagen_equipo_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iep_ubic_imagen_equipo_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iep_imagen_equipo_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iep_imagen_equipo_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iep_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iep_stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iep_id_equipo_p }) |
    @Html.ActionLink("Back to List", "Index")
</p>
