@model CBM_SART.Models.iso_empresa

@{
    //ViewBag.Title = "Delete";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-window" style="height:32px">
    Permite eliminar la Empresa selecionada.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <div class="form-group">

        <h4>
            <span class="label label-danger">
                Estas seguro de eliminar esta Empresa?
            </span>
        </h4>

    </div>
</div>


<div class="modal-body">
    @*Campos formulario*@
    <div class="col-md-7">
        <div class="form-horizontal">
            @*Fila con 1 campo*@
            <div class="form-group">
                @Html.LabelFor(m => Model.iem_nombre_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.iem_nombre_empresa, new { @class = "form-control ", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_nombre_empresa)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.iem_direccion_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.iem_direccion_empresa, new { @class = "form-control ", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_direccion_empresa)
                    </div>
                </div>
            </div>
            @*Fila con 2 campo*@
            <div class="form-group ">
                @Html.LabelFor(m => Model.iem_ruc_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.iem_ruc_empresa, new { @class = "form-control  ", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_ruc_empresa)
                    </div>
                </div>

                @Html.LabelFor(m => Model.iem_nemonico_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.iem_nemonico_empresa, new { @class = "form-control", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_nemonico_empresa)
                    </div>
                </div>
            </div>

            <div class="form-group ">
                @Html.LabelFor(m => Model.iem_telefono_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.iem_telefono_empresa, new { @class = "form-control ", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_telefono_empresa)
                    </div>
                </div>

                @Html.LabelFor(m => Model.iem_personeria_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.iem_personeria_empresa, new { @class = "form-control ", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_personeria_empresa)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.iem_rep_legal_empresa, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.iem_rep_legal_empresa, new { @class = "form-control ", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.iem_rep_legal_empresa)
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*Espacio*@
    <div class="col-md-1"></div>
    @*Foto*@
    <div class="col-md-3">

        <div class="row">
            <label for="file1">
                Imagen
            </label>
            <div class="editor-field">
                @if (Model.iem_icono_empresa != null)
                {
                    @*<input type='file' id="file1" name="file1" multiple accept="image/*" value="" src="@Url.Action("GetImage", "Empresa", new { ID = Model.iem_cod_empresa })" />*@
                    <br />
                    <div class="inline-image-preivew">
                        <div style="float:left;margin-right:20px">
                            <img id="blah" alt="Logo de la Empresa" style="border: groove 0px; max-width: 100%; height:auto" src="@Url.Action("GetImage", "Empresa", new { ID = Model.iem_cod_empresa })" />
                        </div>
                    </div>
                }
                else
                {
                    <input type='file' id="file1" name="file1" value="" multiple accept="image/*" />
                    <br />
                    <div class="inline-image-preivew">
                        <img id="blah" src="~/images/blanco.png" alt="Logo de la Empresa" style="border: groove 0px; max-width: 100%; height:auto" />
                    </div>
                }
            </div>
        </div>
    </div>
    @*Espacio*@
    <div class="col-md-1"></div>
</div>
<div style="clear:both"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">

            @*<div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>*@

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">No</button>
                <input class="btn btn-danger" type="submit" value="Si" />
            </div>
        </div>
    </div>
}


