@model CBM_SART.Models.iso_empresa

@*@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Empresa Detail</h3>
</div>


<div class="modal-body">
    <h4>iso_empresa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iem_nombre_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_nombre_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_nemonico_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_nemonico_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_ruc_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_ruc_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_direccion_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_direccion_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_telefono_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_telefono_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_rep_legal_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_rep_legal_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_personeria_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_personeria_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_icono_empresa)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.iem_icono_empresa)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.iem_vision_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_vision_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_mision_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_mision_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_politica_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_politica_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_objetivo_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_objetivo_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_valores_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_valores_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_icono_archivo)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.iem_icono_archivo)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.iem_politica_general)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_politica_general)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_politica_calidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_politica_calidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_estrategia_general)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_estrategia_general)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_numero_patronal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_numero_patronal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_numero_trab_administrativos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_numero_trab_administrativos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iem_numero_trab_planta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iem_numero_trab_planta)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iem_cod_empresa }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>