@model CBM_SART.Models.iso_empresa

@{
    //ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" seccion-barra" style="height:32px">
    Permite modificar los datos de la Empresa.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">

    <h4 class="modal-title">Editar Empresa</h4>
</div>


@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Edit", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.iem_cod_empresa)
    @Html.HiddenFor(model => model.iem_icono_archivo)
    @*@Html.ValidationSummary(true)*@
    <div class="modal-body">
        @*Campos formulario*@
        <div class="col-md-7">
            <div class="form-horizontal">
                @*Fila con 1 campo*@
                <div class="form-group">
                    @Html.LabelFor(m => Model.iem_nombre_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.iem_nombre_empresa, new { @class = "form-control required valid" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_nombre_empresa)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.iem_direccion_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.iem_direccion_empresa, new { @class = "form-control required valid" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_direccion_empresa)
                        </div>
                    </div>
                </div>
                @*Fila con 2 campo*@
                <div class="form-group ">
                    @Html.LabelFor(m => Model.iem_ruc_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.iem_ruc_empresa, new { @class = "form-control required valid" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_ruc_empresa)
                        </div>
                    </div>

                    @Html.LabelFor(m => Model.iem_nemonico_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.iem_nemonico_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_nemonico_empresa)
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    @Html.LabelFor(m => Model.iem_telefono_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.iem_telefono_empresa, new { @class = "form-control " })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_telefono_empresa)
                        </div>
                    </div>

                    @Html.LabelFor(m => Model.iem_personeria_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.iem_personeria_empresa, new { @class = "form-control required valid" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_personeria_empresa)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.iem_rep_legal_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.iem_rep_legal_empresa, new { @class = "form-control required valid" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_rep_legal_empresa)
                        </div>
                    </div>
                </div>
                @*fffffffffffffff*@
                <div class="form-group ">
                    @Html.LabelFor(m => Model.iem_vision_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_vision_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_vision_empresa)
                        </div>
                    </div>

                    @Html.LabelFor(m => Model.iem_mision_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_mision_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_mision_empresa)
                        </div>
                    </div>
                </div>
                @*fffffffffffffff*@
                <div class="form-group ">
                    @Html.LabelFor(m => Model.iem_politica_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_politica_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_politica_empresa)
                        </div>
                    </div>

                    @Html.LabelFor(m => Model.iem_objetivo_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_objetivo_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_objetivo_empresa)
                        </div>
                    </div>
                </div>
                @*fffffffffffffff*@
                <div class="form-group ">
                    @Html.LabelFor(m => Model.iem_valores_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_valores_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_valores_empresa)
                        </div>
                    </div>

                    @Html.LabelFor(m => Model.iem_politica_general, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_politica_general, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_politica_general)
                        </div>
                    </div>
                </div>
                @*fffffffffffffff*@
                <div class="form-group ">
                    @Html.LabelFor(m => Model.iem_politica_calidad, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_politica_calidad, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_politica_calidad)
                        </div>
                    </div>

                    @Html.LabelFor(m => Model.iem_estrategia_general, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.iem_estrategia_general, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_estrategia_general)
                        </div>
                    </div>
                </div>
                @*dsfsdfsdf*@
                <div class="form-group">
                    @Html.LabelFor(m => Model.iem_icono_empresa, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.iem_icono_empresa, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.iem_icono_empresa)
                        </div>
                    </div>
                </div>


            </div>
        </div>
        @*Espacio*@
        <div class="col-md-1"></div>
        @*Foto*@
        <div class="col-md-3">

            <div class="row">
                <label for="file1">
                    Imagen
                </label>
                <div class="editor-field">
                    @if (Model.iem_icono_empresa != null)
                    {
                        <input type='file' id="file1" name="file1" multiple accept="image/*" value="" src="@Url.Action("GetImage", "Empresa", new { ID = Model.iem_cod_empresa })" />
                        <br />
                        <div class="inline-image-preivew">
                            <div style="float:left;margin-right:20px">
                                <img id="blah" alt="Logo de la Empresa" style="border: groove 0px; max-width: 100%; height:auto" src="@Url.Action("GetImage", "Empresa", new { ID = Model.iem_cod_empresa })" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type='file' id="file1" name="file1" value="" multiple accept="image/*" />
                        <br />
                        <div class="inline-image-preivew">
                            <img id="blah" src="~/images/blanco.png" alt="Logo de la Empresa" style="border: groove 0px; max-width: 100%; height:auto" />
                        </div>
                    }
                </div>
            </div>
        </div>
        @*Espacio*@
        <div class="col-md-1"></div>
        <div style="clear:both"></div>
        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">
                <img src="/images/wait.gif" alt="wiat" />
                Espere...
            </span>
            @*<input class="btn btn-primary" type="submit" value="Save" />*@
            <button class="btn btn-primary" type="submit" name="Guardar"> Guardar </button>
            <button class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
}
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
