@model CBM_SART.Models.iso_empresa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>iso_empresa</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.iem_cod_empresa)

        <div class="form-group">
            @Html.LabelFor(model => model.iem_nombre_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_nombre_empresa)
                @Html.ValidationMessageFor(model => model.iem_nombre_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_nemonico_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_nemonico_empresa)
                @Html.ValidationMessageFor(model => model.iem_nemonico_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_ruc_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_ruc_empresa)
                @Html.ValidationMessageFor(model => model.iem_ruc_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_direccion_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_direccion_empresa)
                @Html.ValidationMessageFor(model => model.iem_direccion_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_telefono_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_telefono_empresa)
                @Html.ValidationMessageFor(model => model.iem_telefono_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_rep_legal_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_rep_legal_empresa)
                @Html.ValidationMessageFor(model => model.iem_rep_legal_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_personeria_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_personeria_empresa)
                @Html.ValidationMessageFor(model => model.iem_personeria_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_icono_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_icono_empresa)
                @Html.ValidationMessageFor(model => model.iem_icono_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_vision_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_vision_empresa)
                @Html.ValidationMessageFor(model => model.iem_vision_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_mision_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_mision_empresa)
                @Html.ValidationMessageFor(model => model.iem_mision_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_politica_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_politica_empresa)
                @Html.ValidationMessageFor(model => model.iem_politica_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_objetivo_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_objetivo_empresa)
                @Html.ValidationMessageFor(model => model.iem_objetivo_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_valores_empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_valores_empresa)
                @Html.ValidationMessageFor(model => model.iem_valores_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_icono_archivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_icono_archivo)
                @Html.ValidationMessageFor(model => model.iem_icono_archivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_politica_general, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_politica_general)
                @Html.ValidationMessageFor(model => model.iem_politica_general)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_politica_calidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_politica_calidad)
                @Html.ValidationMessageFor(model => model.iem_politica_calidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_estrategia_general, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_estrategia_general)
                @Html.ValidationMessageFor(model => model.iem_estrategia_general)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_razon_social, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_razon_social)
                @Html.ValidationMessageFor(model => model.iem_razon_social)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_numero_patronal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_numero_patronal)
                @Html.ValidationMessageFor(model => model.iem_numero_patronal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_actividad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_actividad)
                @Html.ValidationMessageFor(model => model.iem_actividad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_numero_trab_administrativos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_numero_trab_administrativos)
                @Html.ValidationMessageFor(model => model.iem_numero_trab_administrativos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iem_numero_trab_planta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iem_numero_trab_planta)
                @Html.ValidationMessageFor(model => model.iem_numero_trab_planta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
