@*@model IEnumerable<CBM_SART.Models.iso_empresa>*@
@*@model MvcBootstrapCrud.Models.PagedList<MvcBootstrapCrud.Models.Phone>*@
@model CBM_SART.Models.PagedList<CBM_SART.Models.iso_empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=" seccion-barra">
    Informacion de la Oraganizaciones Registradas
    <span class="badge">Nro. de  Empresas : @ViewBag.total</span>
</div>


<div class="content">
    @using (Html.BeginForm("index", null, FormMethod.Get))
    {
        <div class="search">
            <div class="col-md-10">
                <div class="input-group">

                    <input type="text"
                           name="filter"
                           value="@ViewBag.filter"
                           class="form-control"
                           style="display: inline; height:30px"
                           placeholder="Buscar por Nombre y Siglas" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="submit">Buscar</button>
                    </span>

                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right ">
                    <a class="btn btn-success" data-modal="" href="/Empresa/Create" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="col-md-12">
            @{
        var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                      tableStyle: "table table-bordered table-hover table-striped table-responsive table-condensed",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
              grid.Column("iem_ruc_empresa", "RUC"),
              grid.Column("iem_nombre_empresa", "Nombre", style: "col-lg-4"),
              grid.Column("iem_nemonico_empresa", "Siglas", style: "col-lg-1"),
              grid.Column("iem_personeria_empresa", "Personería", style: "col-lg-2"),
              grid.Column("iem_telefono_empresa", "Teléfono", style: "col-lg-2"),
              grid.Column(header: "Logo Empresa", canSort: false, style: "col-lg-2",
              format: @<text>
                @Html.Raw("<img style='max-width: 200px; max-height: 150px' src=" + @Url.Action("GetImage", "Empresa", new { ID = item.iem_cod_empresa }) + " />")

            </text>),
              grid.Column(header: "Action", canSort: false, style: "action col-lg-1",
                     format: @<text>
                @Html.Raw("<a data-modal='' href='/Empresa/details/" + item.iem_cod_empresa + "' id='" + item.iem_cod_empresa + "' title='Detalles'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Empresa/edit/" + item.iem_cod_empresa + "' id='" + item.iem_cod_empresa + "' title='Editar'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Empresa/delete/" + item.iem_cod_empresa + "' id='" + item.iem_cod_empresa + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                    </text>)

                                                                                 ));
            }


        </div>
        <div class="clear"></div>
    }
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section SideBar{
    <div class="seccion-barra-black">Vigilancia de Salud</div>

    <ul class="list-panel-moulos">
        <li><a href="@Url.Action("Index", "Personal")"><img class="boton-panel-imagen " src="@Url.Content("~/images/personal.png")" />Personal</a></li>
        <li><a class="select" href="@Url.Action("Index", "Empresa")"><img class="boton-panel-imagen" src="@Url.Content("~/images/empresa.png")" />Empresa</a></li>
        <li><a href="@Url.Action("Index", "Departamento")"><img class="boton-panel-imagen" src="@Url.Content("~/images/departamento.png")" />Departamento</a></li>
        <li><a href="@Url.Action("Index", "Cargo")"><img class="boton-panel-imagen" src="@Url.Content("~/images/puestot.png")" />Cargo</a></li>
        <li><a href="@Url.Action("Index", "PuestoTrabajo")"><img class="boton-panel-imagen" src="@Url.Content("~/images/puestot.png")" />Puesto de Trabajo</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/hclinica.png")" />Historias Clinicas</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/riesgos.png")" />Identificacion de Riesgos</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/profesiograma.png")" />Profesiograma</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/incidente.png")" />Incidentes</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/accidentes.png")" />Accidentes</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/indicesr.png")" />Indices de Riesgo</a></li>
        <li><a href="#"><img class="boton-panel-imagen" src="@Url.Content("~/images/equipot.png")" />Equipos de Trabajo</a></li>
    </ul>
}


@section scripts{
    @Scripts.Render("~/scripts/appjs/phones.js")
    @*Cargar Imagen en Create*@
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').fadeIn("slow").attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        //$("#file1").change(function () {
        $(document).delegate("#file1", "change", function (e) {
            readURL(this);
            //alert($("#file1").val());
            var fic = $("#file1").val().split('\\');
            $("#iem_icono_empresa").val("[Base de Datos] " + fic[fic.length - 1]);

        });
    </script>
}