@model IEnumerable<CBM_SART.Models.iso_empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iem_ruc_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iem_nombre_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iem_nemonico_empresa)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.iem_telefono_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iem_rep_legal_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iem_personeria_empresa)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iem_ruc_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iem_nombre_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iem_nemonico_empresa)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.iem_telefono_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iem_rep_legal_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iem_personeria_empresa)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.iem_cod_empresa }) |
                @Html.ActionLink("Details", "Details", new { id = item.iem_cod_empresa }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.iem_cod_empresa })
            </td>
        </tr>
    }

</table>

@section SideBar{
    <ul>
        <li>
            Uno
        </li>
        <li>
            Dos
        </li>
        <li>
            Tres
        </li>
    </ul>
    }



@section Scripts {


}
