@model CBM_SART.Models.iso_usuario

@{
    ViewBag.Title = "Details";
}

<div class="title-window" style="height:32px">
    Permite imprimir los datos de un Usuario.
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-header">
    <h4 class="modal-title">Información del Usuario</h4>
</div>

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Details", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", id = "fc", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.ius_nombre_usuario, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ius_nombre_usuario, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ius_nombre_usuario)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ius_login, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ius_login, new { @class = "form-control", @disabled = "disabled", @id = "login" })
                        @Html.ValidationMessageFor(model => model.ius_login)
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.ius_password, new { @class = "control-label col-md-3" })*@
                    <div class="col-md-9">
                        @Html.HiddenFor(model => model.ius_password, new { @class = "form-control", @disabled = "disabled", @id = "password" })
                        @Html.ValidationMessageFor(model => model.ius_password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ius_email, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ius_email, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ius_email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ius_iniciales, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ius_iniciales, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ius_iniciales)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ius_tipo_usuario, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ius_tipo_usuario, new SelectList(
                                new List<Object>{
                                new { value = "Normal" , text = "Normal"  },
                                new { value = "Medico" , text = "Médico" },
                                new { value = "Administrador" , text = "Adminstrador" }
                                },
                                "value",
                                "text",
                        0), new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ius_tipo_usuario)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ius_desc_usuario, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.ius_desc_usuario, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ius_desc_usuario)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ius_deshabilitado, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ius_deshabilitado, new SelectList(
                                new List<Object>{
                                new { value = "N" , text = "NO"  },
                                new { value = "S" , text = "SI" }
                                },
                                "value",
                                "text",
                        0), new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ius_deshabilitado)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ius_foto_ruta, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ius_foto_ruta, new { @class = "form-control", @disabled = "disabled", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.ius_foto_ruta)
                    </div>
                </div>


            </div>
            <div class="col-md"></div>
            <div class="col-md-4">
                <div class="row" style="margin-top:0;">
                    <div class="editor-field" style="padding: 0px 52px; padding-top: 0px;">
                        @if (Model.ius_foto_archivo != null)
                        {

                            <div class="inline-image-preivew">
                                <img id="blah" alt="Foto Usuario" style="border: 1px solid #29ABE2; max-width: 240px; height: auto" src="@Url.Action("GetImage", "Usuario", new { ID = Model.ius_id_usuario })" />
                            </div>
                        }
                        else
                        {

                            <div class="inline-image-preivew">
                                <img id="blah" src="~/images/no_logo.png" alt="Foto Usuario" style="border: 1px solid #29ABE2; max-width: 240px; height: auto" />
                            </div>
                        }

                    </div>

                </div>

            </div>
            <div class="clear"></div>
            <div class="col-md-12">
            </div>

            <div class="clear"></div>

            <div class="form-horizontal">
                <div class="modal-footer">
                    <span id="progress" class="text-center" style="display: none;">
                        <img src="/images/wait.gif" alt="wiat" />
                        Espere...
                    </span>
                    @*<input class="btn btn-primary" type="submit" value="Save" />*@
                    <a href="#" class="btn btn-primary " name="Imprimir" onclick="window.print();"> Imprimir </a>
                    @*<input type="button" id="btnEmpresa" value="Upload" />*@
                    <button class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
<script>
    $(document).ready(function () {
        $("#ius_login").val("");
        $("#ius_password").val("");
        console.log($("#ius_login").val());
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




