@model CBM_SART.Models.iso_usuario

@{
    ViewBag.Title = "Ingresar";
    string url = ViewBag.url;
}

<div class="title-window" style="height:32px">
    Conexión - SART

</div>
<div class="modal-header text-center">
    <div class="col-md-1" style="padding-left:0">
        <img src="/images/locked43.png">
    </div>
    <div class="col-md-11">
        <h4 class="modal-title" style="font-size:14px; color:#333;">Ingrese los datos para establecer una conexión segura con el servidor de base de datos SART</h4>
    </div>
</div>

@using (Html.BeginForm("UsuarioActual", "Usuario", new { url = url }, FormMethod.Post, new { @id = "form", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <br class="clear" />
            <br />
            <div class="form-group">
                <div class="col-md-2"></div>
                @*@Html.LabelFor(model => model.ius_login, new { @class = "control-label col-md-2" })*@
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ius_login, new { @class = "form-control", placeholder = "Usuario" })
                    @Html.ValidationMessageFor(model => model.ius_login)
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                @*@Html.LabelFor(model => model.ius_password, new { @class = "control-label col-md-2" })*@
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.ius_password, new { @class = "form-control", placeholder = "Clave" })
                    @Html.ValidationMessageFor(model => model.ius_password)
                </div>
                <div class="col-md-2"></div>
            </div>
            @Html.ValidationSummary(true)
           
            <div class="alert alert-dismissible alert-danger" style="display:none;">
                @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                <div id="ms-error" style="display:none"></div>
            </div>


            <div style="clear:both"></div>
            <div class="modal-footer">
                <div class="three-quarters-loader text-center" style="display:none">
                </div>                
                <button class="btn btn-primary" data-modal="" type="button" id="btn-ingresar" name="Ingresar"> Ingresar </button>
                @*<button class="btn btn-warning" data-dismiss="modal">Cerrar</button>*@
            </div>
        </div>
    </div>
}
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
<script>
    $("#btn-ingresar").click(function () {
        $(".three-quarters-loader").show();
        $(".alert").hide();
        var url = $("#form").attr("action");
        console.log(url);
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: $('#form').serialize(),
            success: function (data) {
                if (data.ok == false) {
                    $(".three-quarters-loader").hide();
                    $("#ms-error").html(data.msj);
                    $("#ms-error").show();
                    $(".alert").show();
                } else {
                    window.location.href = "@ViewBag.url";
                }
            },
            error: function (error) {
                $("#three-quarters-loader").hide();
                $("#ms-error").show();
                console.log('error: ' + error.valueOf);
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

