@{
    ViewBag.Title = "Inicio";
    Session["Sidebar"] = "Inicio";
    CBM_SART.Models.iso_empresa empresa_actual = ViewBag.empresa_actual;
}

<div class="jumbotron">
    <h1>SART</h1>
    <p class="lead">Sistema de Gestión de Control de Riesgos Laborales según Normas SART.</p>
    <p><a href="/Documentos/RES.C.D.390Reglamento del Seguro General de Riesgos del Trabajo.pdf" target="new" class="btn btn-primary btn-large">RESOLUCIÓN No. C.D.390 &raquo;</a></p>
</div>

<div class="row panel panel-default" style="padding: 0 15px; margin: 5px 0px; min-height:360px">
    <div class="seccion-barra">
        <div class="col-md-6">
            <h1>@empresa_actual.iem_nombre_empresa</h1>
        </div>
        <div class="col-md-6" style="line-height: 75px;">
            <img style='max-width: 200px; max-height: 150px;' src="@Url.Action("GetImage", "Empresa", new { ID = empresa_actual.iem_cod_empresa })" />
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="col-md-4" style="margin-bottom:20px">
        <h2>Misión</h2>
        <p>
            @empresa_actual.iem_mision_empresa
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="margin-bottom:20px">
        <h2>Visión</h2>
        <p>@empresa_actual.iem_vision_empresa</p>
    </div>
    <div class="col-md-4" style="margin-bottom:20px">
        <h2>Valores</h2>
        <p>@empresa_actual.iem_valores_empresa</p>
    </div>
</div>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in' tabindex='-1'>
    <div class="modal-dialog" style="width:65%;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/scripts/appjs/phones.js")
}