@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sidebar"] = "Admin";
    Session["SidebarSelect"] = "PVigilancia";
    CBM_SART.Models.iso_usuario Usuario = ViewBag.Usuario;
}

<div class="seccion-barra">
    <img src="~/images/label-plain-black.png" height="24" width="24" />
    @ViewBag.nombre_empresa / Permite asignar acceso a Módulos de Vigilancia de Salud a Usuarios
</div>

<div class="content">
    <div class="col-md-12">
        <p class="text-muted">Selecciona un Usuario para ver/modificar el acceso a modulos de Vigilacia de Salud.</p>
        <div class="form-group">
            @Html.Label("Usuarios", "Permisos del Usuario :", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("Usuarios", null, "-Selecionar-", new { @class = "form-control" })
                @*@{
                        if (Usuario != null)
                        {<span> @Usuario.ius_nombre_usuario.ToString()</span>}
                    }*@
            </div>
        </div>
    </div>
    
      
        <div class="col-md-6">
            <div class="panel panel-default" style="padding:20px; margin-top:10px;">

                @using (Html.BeginForm("Actualizar", "PermisoVigilacia", FormMethod.Post, new {id = "f" }))
                {
                    if (Usuario != null){
                        <input type="hidden" name="IdUsuario" value="@Usuario.ius_id_usuario" />
                    }
                    foreach (CBM_SART.Models.iso_modulo modulo in ViewBag.Modulos)
                    {
                        <label for="@modulo.imd_id_modulo" class="check">
                            @if (Usuario != null){
                                <input type="checkbox" id="@modulo.imd_id_modulo" name="modulo" value="@modulo.imd_id_modulo" @(Usuario.iso_modulo.Contains(modulo) ? "checked" : "") /> @modulo.imd_nombre_modulo
                            }
                            else
                            {
                                <input type="checkbox" id="@modulo.imd_id_modulo" name="modulo" disabled="disabled" /> @modulo.imd_nombre_modulo
                            }
                            
                        </label>
                        <br />
                    }
                    
                    if (Usuario != null){
                        <button class="btn btn-primary " type="submit" name="Guardar"> Guardar </button>
                    }
                    else
                    {
                        <button class="btn btn-primary " type="button" name="Guardar" disabled="disabled"> Guardar </button>
                    }
                }
            </div>
        </div>
    
    <div class="col-md-6">

    </div>
</div>

@section scripts{
    @*Cambiar de Usuario*@
    <script>
        $(document).delegate("#Usuarios", "change", function (e) {
            var IdUsuario = $(this).val();
            if (IdUsuario > 0) {
                window.location.href = "/PermisoVigilacia?IdUsuario=" + IdUsuario;
            } else {
                window.location.href = "/PermisoVigilacia";
            }
        });
    </script>
}
