@model CBM_SART.Models.iso_matriz_mrl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>iso_matriz_mrl</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.imr_id_matriz_mrl)

        <div class="form-group">
            @Html.LabelFor(model => model.imr_localizacion_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_localizacion_mrl)
                @Html.ValidationMessageFor(model => model.imr_localizacion_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_proceso_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_proceso_mrl)
                @Html.ValidationMessageFor(model => model.imr_proceso_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_sub_proceso_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_sub_proceso_mrl)
                @Html.ValidationMessageFor(model => model.imr_sub_proceso_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_cargo_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_cargo_mrl)
                @Html.ValidationMessageFor(model => model.imr_cargo_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_puesto_trabajo_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_puesto_trabajo_mrl)
                @Html.ValidationMessageFor(model => model.imr_puesto_trabajo_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_nro_tabajadores_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_nro_tabajadores_mrl)
                @Html.ValidationMessageFor(model => model.imr_nro_tabajadores_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_jefe_area_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_jefe_area_mrl)
                @Html.ValidationMessageFor(model => model.imr_jefe_area_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_fecha_evaluacion_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_fecha_evaluacion_mrl)
                @Html.ValidationMessageFor(model => model.imr_fecha_evaluacion_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_descripcion_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_descripcion_mrl)
                @Html.ValidationMessageFor(model => model.imr_descripcion_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_id_puesto_t_mrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_id_puesto_t_mrl)
                @Html.ValidationMessageFor(model => model.imr_id_puesto_t_mrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imr_ubicacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imr_ubicacion)
                @Html.ValidationMessageFor(model => model.imr_ubicacion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
